[package]
name = "snaekious"
authors = ["Speykious <speykious@gmail.com>"]
version = "0.1.0"
edition = "2021"

[target.'cfg(target_os = "linux")'.dependencies]
libc = { version = "0.2", default-features = false }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
